@mixin button(
  $padding: 10px 20px,
  $margin: 5px,
  $font-size: 16px,
  $border-radius: 3px,
  $bg-color: #ca4c24,
  $color: #2d2d48,
  $font-color: white
) {
  padding: $padding;
  border-radius: $border-radius;
  background: $bg-color;
  font-size: $font-size;
  color: $font-color;
}
.btn {
  @include button;
}
button {
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #2d2d48;
  border: 2px whitesmoke solid;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
}

.btn:hover {
  background-color: whitesmoke;
  color: black !important;
}

.btn:before {
  background: #2d2d48;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.09s ease-in;
}

#button {
  background-color: whitesmoke;
  color: black;
}

body {
  background-color: #2d2d48;
  margin: 0;
  color: white;
}

section {
  justify-content: space-between;
  background: #f1f7fa;
  padding: 3em !important;
  margin: 0;
  color: black;
}

#section2 {
  background-color: aliceblue;
  color: black;
  margin: 0;
  padding-bottom: 7%;
}

#section5b {
  background-color: white;
  text-align: center;
  color: black;
  margin: 0;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

#section5b h1 {
  font-weight: bold;
  padding-bottom: 2%;
}

#colname {
  opacity: 0.3;
  filter: grayscale(100%);
  transition: filter 0.1s ease-in-out;
}

#colname:hover {
  opacity: 1;
  filter: grayscale(0%);
}

#LeadingStats {
  background-color: aliceblue;
  color: black;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 7%;
}
#LeadingBank {
  font-weight: bold;
  text-align: center;
  padding-top: 6%;
  padding-bottom: 2%;
}
#bulletpoints {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d2d48;
}

.Schedule {
  background-image: linear-gradient(to right, #e98453, #e98484);
  margin-top: 0px;
  padding: 60px 60px;
}
